body {
  background-color: #a344bd54;
  color: cornsilk;
}
#all {
  text-align: left;
  border: 2rem;
  padding: 10rem;
  margin-top: 10em;
}
h1 {
  font-family: poppins;
  font-size: 2em;
}
.row {
  width: 300px;
}
.col {
  height: 50px;
  background-color: aliceblue;
  border-radius: 15px;
}

a {
  text-decoration: none;
  color: black;
}
.bi {
  font-size: 2em;
}
.kata {
  position: relative;
  top: -35px;
  left: 5px;
  font-family: "Jacques Francois";
  font-size: 1.2em;
}
